{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'comment/style.css' %}">


<div id="comment_board">
    <div id="c_panel">
    <button type="button" onclick="showForm()">New Comment</button>
    <label for="sortselector">Sort By: </label>
    <select name="sortselector">
        <option value='0'>Rating</option>
        <option value='1'>Newest First</option>
        <option value-'2'>Oldest First</option>
    </select>
    </div>
    
    {% include "comment/newComment.html" %}
    
    <div id="comments">
        <!--Load from DB in rating order-->
        {% include "comment/commentNode.html" %}
    </div>
    
</div>

<script>
    function showForm(){
      var x = document.getElementById("newComment");
      x.style.display = "block";
    }
    function hideForm(){
      var x = document.getElementById("newComment");
      x.style.display = "none";
    }
</script>